# ignore

#code::blocks files
*.layout
*.cbp
*.exe
*.o
*/bin
*/obj

#Zip files
*.zip

#RAR files
*.rar

#Visual studio files
.vs
.vscode
*.json
.vscode/c_cpp_properties.json

#Visual studio debug/build files
Debug
x64

#Personal files
Esercizi Verifica dad
*.user